<!DOCTYPE html>
<html th:replace="~{partials/layoutUser :: layout(~{::title}, ~{::form}, ~{::h4}, ~{::h6}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        이메일 인증
    </title>
</head>

<body>

<h4>인증번호 입력하기</h4>
<h6 class="font-weight-light">
    이메일로 보내드린 인증번호를 입력하세요.
</h6>
<form class="pt-3" th:action="@{${link}}"  method="post" th:onsubmit="return checkForm()">
    <div class="form-group">
        <label for="id">인증번호</label>
        <input type="text" class="form-control form-control-lg" id="emailKey" name="emailKey" placeholder="인증번호">
    </div>
    <div class="mt-3 text-info row col-12">
        <div>남은시간 :</div><div id="time">11:00</div>
    </div>
    <div class="mt-3">
        <button type="button" class="btn btn-block btn-light btn-lg font-weight-medium auth-form-btn" id="resend">재전송</button>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">인증하기</button>
    </div>
</form>

<script type="text/javascript" th:inline="javascript">
    window.addEventListener('load', function () {
        setInterval(finishTimeShow, 500);
    })
    /**
     * 남은 시간 보여주기
     */
    function finishTimeShow(){
        const finishTime = [[${#session.getMaxInactiveInterval()}]];
        document.getElementById("time").textContent = (finishTime / 60) + ":" + ((finishTime % 60 < 10) ? "0"+finishTime % 60 : finishTime % 60);
        console.log("실행중");
        return;
    }


    /**
     * 이메일 재전송
     */
    document.getElementById("resend").addEventListener('click', function () {
        const url = [[${resendLink}]];
        emailSendAPI(url);
    });

    /**
     *  전송 전에 form text 확인하기
     */
    function checkForm() {
        const emailKey = document.getElementById("emailKey").textContent.trim();

        if(emailKey==null && emailKey==''){
            alert("인증번호를 입력해주세요");
        }
        return true;
    }

</script>
<script src="/js/common/API.js"></script>
<!-- End custom js for this page-->

</body>

</html>
