<!DOCTYPE html>
<html th:replace="~{partials/layoutUser :: layout(~{::title}, ~{::form}, ~{::h4}, ~{::h6})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        로그인
    </title>
</head>

<body>

<h4>인증번호 입력하기</h4>
<h6 class="font-weight-light">
    이메일로 보내드린 인증번호를 입력하세요.
</h6>
<form class="pt-3" action="/join/authentication.do" method="post">
    <div class="form-group">
        <label for="id">인증번호</label>
        <input type="text" class="form-control form-control-lg" id="emailKey" name="emailKey" placeholder="인증번호">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">인증하기</button>
    </div>
</form>

<script type="text/javascript">

</script>
<!-- End custom js for this page-->

</body>

</html>
