<!DOCTYPE html>
<html th:replace="~{partials/layoutUser :: layout(~{::title}, ~{::form}, ~{::h4}, ~{::h6}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        회원가입
    </title>
</head>

<body>

<h4>회원가입</h4>
<h6 class="font-weight-light">
    <div class="badge  badge-warning">필수</div>
    표시 되어있는건 필수 정보입니다.
</h6>
<form class="pt-3" action="/join/form.do" method="post" th:object="${user}" th:onsubmit="return checkForm()">
    <div class="form-group">
        <label for="id">
            <div class="badge  badge-warning">필수</div>
            아이디</label>
        <input type="text" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{id}" placeholder="아이디" required>
    </div>
    <div class="form-group">
        <label for="pw">
            <div class="badge  badge-warning">필수</div>
            비밀번호</label>
        <input type="text" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{pw}" placeholder="비밀번호" required>
    </div>
    <div class="form-group">
        <label for="pwCheck">
            <div class="badge  badge-warning">필수</div>
            비밀번호 확인</label>
        <input type="text" class="form-control form-control-lg" id="pwCheck" placeholder="비밀번호 확인" required>
    </div>
    <div class="form-group">
        <label for="name">이름</label>
        <input type="text" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{name}" placeholder="이름">
    </div>
    <div class="form-group">
        <label for="nickname">
            <div class="badge  badge-warning">필수</div>
            닉네임</label>
        <input type="text" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{nickname}" placeholder="닉네임" required>
    </div>
    <div class="form-group">
        <label for="phone">
            <div class="badge  badge-warning">필수</div>
            핸드폰번호</label>
        <input type="text" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{phone}" placeholder="01012345678" required>
    </div>
    <div class="form-group">
        <label for="email">
            <div class="badge  badge-warning">필수</div>
            이메일</label>
        <input type="email" class="form-control form-control-lg" th:errorclass="is-invalid" th:field="*{email}" placeholder="이메일" required>
    </div>
    <!--
    <div class="mb-4">
        <div class="form-check">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                개인정보 활용에 동의 합니다.
            </label>
        </div>
    </div>
    -->
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                href="/join.do">회원가입
        </button>
    </div>
    <div class="text-center mt-4 font-weight-light">
        이미 계정이 있다면? <a href="/login.do" class="text-primary">로그인 하러가기</a>
    </div>
</form>
<!-- container-scroller -->
<!-- Custom js for this page-->
<script type="text/javascript">
    const messageText = [[${user.message}]];
    if(messageText!=null && messageText !=''){
        alert(messageText);
    }

    /**
     * 아이디 중복체크
     */
    function checkId(){
        const userId = document.getElementById("id").value;

        if (userId.length > 1) {
            checkAPI('id', userId);
        } else {
            if (!!document.getElementById("resId")) {
                document.getElementById("resId").remove();
            }
        }
    }

    // 이벤트 걸기
    document.getElementById("id").addEventListener('input', function () {
        checkId();
    });

    /**
     * 이메일 중복체크
     */
    function checkEmail() {
        const userEmail = document.getElementById("email").value;

        const checkEmail = new RegExp(checkEmailReg);
        if (checkEmail.test(userEmail)) {

            checkAPI('email', userEmail);

        } else {
            if (!!document.getElementById("resEmail")) {
                document.getElementById("resEmail").remove();
            }
        }
    }

    document.getElementById("email").addEventListener('input', function () {
        checkEmail();
    });

    /**
     * 비밀번호 조건 체크
     */
    document.getElementById("pw").addEventListener('keyup', function () {
        checkPw()
    });

    /**
     * 비밀번호와 비밀번호 확인 체크
     */
    document.getElementById("pwCheck").addEventListener('keyup', function () {
        checkPw()
    });

    function checkPw() {

        const pw = document.getElementById("pw").value;
        const pwCheck = document.getElementById("pwCheck").value;

        let result_pw = false;
        let result_pwCheck = false;

        //비밀번호 규칙
        if (!!document.getElementById("resPw")) {
            document.getElementById("resPw").remove();
        }
        if (pw.length > 1) {
            const resultPwTag = document.createElement('div');
            const checkPw = new RegExp(checkPwReg);
            if (checkPw.test(pw)) {
                resultPwTag.textContent = '사용할 수 있는 비밀번호 입니다.';
                resultPwTag.classList.add("text-success");
                result_pw = true;
            } else {
                resultPwTag.textContent = '사용할 수 없는 비밀번호 입니다.';
                resultPwTag.classList.add("text-danger");
            }
            resultPwTag.id = "resPw";
            document.getElementById("pw").parentElement.appendChild(resultPwTag);
        }

        //비밀번호 확인
        if (!!document.getElementById("resPwCheck")) {
            document.getElementById("resPwCheck").remove();
        }
        if (pwCheck.length > 1) {
            const resultPwCheckTag = document.createElement('div');
            if (pw === pwCheck) {
                resultPwCheckTag.textContent = '비밀번호와 값이 같습니다.';
                resultPwCheckTag.classList.add("text-success");
                result_pwCheck = true;
            } else {
                resultPwCheckTag.textContent = '비밀번호와 값이 다릅니다.';
                resultPwCheckTag.classList.add("text-danger");
            }
            resultPwCheckTag.id = "resPwCheck";
            document.getElementById("pwCheck").parentElement.appendChild(resultPwCheckTag);
        }

        if (result_pw && result_pwCheck) {
            return true;
        } else {
            return false;
        }
    }

    /**
     *  전송 전에 form text 확인하기
     */
    function checkForm() {
        const checkIdRes = document.getElementById("resid").textContent;
        const checkEmailRes = document.getElementById("resemail").textContent;


        if(checkIdRes != '1'){
            alert("아이디가 규칙에 맞지 않습니다.");
            return false
        }
        if(!checkPw()){
            alert("비밀번호가 규칙에 맞지 않습니다.");
            return false
        }
        if(checkEmailRes != '1'){
            alert("이메일이 규칙에 맞지 않습니다.");
            return false
        }
        return true;
    }

</script>
<script src="/js/common/checkReg.js"></script>
<script src="/js/common/API.js"></script>
<!-- End custom js for this page-->

</body>

</html>
