<!DOCTYPE html>
<html th:replace="~{partials/layoutUser :: layout(~{::title}, ~{::form}, ~{::h4}, ~{::h6}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        로그인
    </title>
</head>

<body>

<h4>로그인</h4>
<h6 class="font-weight-light">자신의 계정으로 로그인하세요.</h6>
<form class="pt-3"  th:action="@{/login/form.do}" method="post"  th:object="${user}">
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" th:field="*{id}" placeholder="Id">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-lg" th:field="*{pw}" placeholder="Password">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
            로그인
        </button>
    </div>
    <!--
    <div class="my-2 d-flex justify-content-between align-items-center">
        <div class="form-check">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input">
                Keep me signed in
            </label>
        </div>
        <a href="#" class="auth-link text-black">Forgot password?</a>
    </div>
    <div class="mb-2">
        <button type="button" class="btn btn-block btn-facebook auth-form-btn">
            <i class="ti-facebook mr-2"></i>Connect using facebook
        </button>
    </div>
    -->
    <div class="text-center mt-4 font-weight-light">
        계정이 없으신가요?<a href="/join/form.do" class="text-primary">회원가입</a>
    </div>
</form>
<script type="text/javascript"  th:inline="javascript">
    const messageText = [[${message}]];
    alert(messageText);
</script>
</body>

</html>
