<!DOCTYPE html>
<html th:replace="~{partials/layoutMain :: layout(~{::title},  ~{::div},  ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        회원 정보
    </title>
</head>

<body>

<h4>회원 정보</h4>
<h6 class="font-weight-light"></h6>


<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">회원정보</h3>
                    <h6 class="font-weight-normal mb-0">자신의 정보를 확인하세요.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" id="user" th:object="${user}" action="/user/mypage.do" method="post"th:onsubmit="return checkForm()">
                        <div class="form-group">
                            <label for="id">아이디</label>
                            <div type="text" class="form-control" id="id" th:text="*{id}"></div>
                            <input type="hidden" class="form-control" th:field="*{id}">
                        </div>
                        <div class="form-group">
                            <label for="name">이름</label>
                            <input type="text" class="form-control" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="pw">비밀번호</label>
                            <input type="password" class="form-control" id="pw" name="pw">
                        </div>
                        <div class="form-group">
                            <label for="pwCheck">비밀번호 확인</label>
                            <input type="password" class="form-control" id="pwCheck">
                        </div>
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="email" class="form-control" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label for="phone">핸드폰번호</label>
                            <input type="text" class="form-control"  th:field="*{phone}">
                        </div>
                        <div class="form-group">
                            <label for="nickname">닉네임</label>
                            <input type="text" class="form-control"  th:field="*{nickname}">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">수정</button>
                        <button class="btn btn-light">취소</button>
                        <button type="submit" class="btn btn-danger float-right" id="delete">회원탈퇴</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /**
     * 이메일 중복체크
     */
    document.getElementById("email").addEventListener('input', function () {
        const userEmail = document.getElementById("email").value;
        //정규식
        const emailReg = new RegExp(checkEmailReg);

        if (emailReg.test(userEmail)) {
            checkAPI('email', userEmail);
        } else {
            if (!!document.getElementById("resEmail")) {
                document.getElementById("resEmail").remove();
            }
        }
    });

    /**
     * 회원 탈퇴
     */
    document.getElementById("delete").addEventListener('click', function () {
        if(confirm("정말 탈퇴하시겠습니까? 재가입시에도 사용했던 아이디는 사용하실 수 없습니다.")){
            document.getElementById("user").action = "/user/deleteUser.do";
        }
    });


    /**
     * 비밀번호 조건 체크
     */
    document.getElementById("pw").addEventListener('keyup', function () {
        checkPw()
    });

    /**
     * 비밀번호와 비밀번호 확인 체크
     */
    document.getElementById("pwCheck").addEventListener('keyup', function () {
        checkPw()
    });

    function checkPw() {

        const pw = document.getElementById("pw").value;
        const pwCheck = document.getElementById("pwCheck").value;

        let result_pw = false;
        let result_pwCheck = false;

        //비밀번호 규칙
        if (!!document.getElementById("resPw")) {
            document.getElementById("resPw").remove();
        }
        if (pw.length > 1) {
            const resultPwTag = document.createElement('div');
            const checkPw = new RegExp(checkPwReg);
            if (checkPw.test(pw)) {
                resultPwTag.textContent = '사용할 수 있는 비밀번호 입니다.';
                resultPwTag.classList.add("text-success");
                result_pw = true;
            } else {
                resultPwTag.textContent = '사용할 수 없는 비밀번호 입니다.';
                resultPwTag.classList.add("text-danger");
            }
            resultPwTag.id = "resPw";
            document.getElementById("pw").parentElement.appendChild(resultPwTag);
        }

        //비밀번호 확인
        if (!!document.getElementById("resPwCheck")) {
            document.getElementById("resPwCheck").remove();
        }
        if (pwCheck.length > 1) {
            const resultPwCheckTag = document.createElement('div');
            if (pw === pwCheck) {
                resultPwCheckTag.textContent = '비밀번호와 값이 같습니다.';
                resultPwCheckTag.classList.add("text-success");
                result_pwCheck = true;
            } else {
                resultPwCheckTag.textContent = '비밀번호와 값이 다릅니다.';
                resultPwCheckTag.classList.add("text-danger");
            }
            resultPwCheckTag.id = "resPwCheck";
            document.getElementById("pwCheck").parentElement.appendChild(resultPwCheckTag);
        }

        if (result_pw && result_pwCheck) {
            return true;
        } else {
            return false;
        }
    }

    /**
     *  전송 전에 form text 확인하기
     */
    function checkForm() {
        if(document.getElementById("pw").value.length == 0){
            document.getElementById("user").delete("pw");
        }
        else if(!checkPw()){
            alert("비밀번호가 규칙에 맞지 않습니다.");
            return false
        }
        if(checkEmailRes != '1'){
            alert("이메일이 규칙에 맞지 않습니다.");
            return false
        }
        return true;
    }

</script>


<script src="/js/common/checkReg.js"></script>
<!-- End custom js for this page-->

</body>

</html>
