<!DOCTYPE html>
<html th:replace="~{partials/layoutMain :: layout(~{::title},  ~{::div},  ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        메인화면
    </title>
</head>

<body>
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">메인화면</h3>
                    <h6 class="font-weight-normal mb-0">자신의 정보를 확인하세요.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>


<!-- End custom js for this page-->

</body>

</html>
